.DS_Store

# Vim

# Ignore netrw history.
dotfiles/dot-vim/.netrwhist

# Ignore vim-plug stuff.
dotfiles/dot-vim/plugged
# dotfiles/dot-config/nvim/plugged

# Ignore swapfiles.
dotfiles/dot-vim/.*.swp
dotfiles/dot-vim/*/.*.swp
dotfiles/dot-vim/*/*/.*.swp
dotfiles/dot-vim/*/*/*/.*.swp
